@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	margin: 0


header
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 117px
	z-index: 999
.header-inner
	position: absolute
	width: 100%
	z-index: 1
	background-image: url("../img/line-bg.png")
	background-repeat: repeat-x


.logo
	background-image: url("../img/logo.png")
	background-repeat: no-repeat
	background-position: center
	background-size: contain
	height: 226px
	margin: 0 auto
	width: 100%
	z-index: 100
	overflow: hidden

nav
	margin: 25px auto 0
	max-width: 1200px
	ul
		margin: 0
		padding: 0
		list-style-type: none
		.nav-left
			float: left
			margin-left: 110px

		.nav-right
			float: right
			margin-right: 20px
		li
			display: inline-block
			margin: 0 15px
			a
				span
					display: inline-block
					vertical-align: middle
					background-repeat: no-repeat
					background-size: cover
					text-transform: uppercase
					font-size: 11px
					font-weight: bold
					color: #fff
					line-height: 1em
					transition: .3s


				.link-text
					margin-left: 10px
				.home-ico
					width: 33px
					height: 32px
					background-image: url("../img/icons/home.png")
				.question-ico
					width: 25px
					height: 28px
					background-image: url("../img/icons/question.png")
				.phone-ico
					width: 23px
					height: 24px
					background-image: url("../img/icons/phone.png")
					transform: rotate(-111deg)
				.butterfly-ico
					width: 34px
					height: 34px
					background-image: url("../img/icons/butterfly.png")
				.vitamin-ico
					font-size: 32px
				.jar-ico
					width: 27px
					height: 28px
					background-image: url("../img/icons/jar.png")
				&:hover
					span
						color: #f8f907
					.home-ico
						background-image: url("../img/icons/home-hover.png")
					.question-ico
						background-image: url("../img/icons/question-hover.png")
					.phone-ico
						background-image: url("../img/icons/phone-hover.png")
					.butterfly-ico
						background-image: url("../img/icons/butterfly-hover.png")
					.jar-ico
						background-image: url("../img/icons/jar-hover.png")

.nav-hidden
	display: none


	// heder END







// sidebar-menu

.sidebar-menu
	position: fixed
	top: 220px
	right: 0
	width: 51px
	border-radius: 10px
	background-color: rgba(255,255,255,.6)
	z-index: 100
	ul
		list-style-type: none
		padding: 0
		li
			margin: 0
			margin-left: 3px
			width: 51px
			background-repeat: no-repeat
			cursor: pointer
			position: relative
			a
				width: 51px
				background-repeat: no-repeat
				display: block
				opacity: 0
				transition: .3s
			.menu-item1
				height: 45px
				background-image: url("../img/sidebar.png")
				background-position: -51px 0
			.menu-item2
				height: 60px
				background-image: url("../img/sidebar.png")
				background-position: -51px -45px
			.menu-item3
				height: 57px
				background-image: url("../img/sidebar.png")
				background-position: -51px -105px
			.menu-item4
				height: 55px
				background-image: url("../img/sidebar.png")
				background-position: -51px -162px
			.menu-item5
				height: 58px
				background-image: url("../img/sidebar.png")
				background-position: -51px -217px
		.li-item1
			height: 45px
			background-image: url("../img/sidebar.png")
			background-position: 0 0
			&.active
				background-position: -102px 0

		.li-item2
			height: 60px
			background-image: url("../img/sidebar.png")
			background-position: 0 -45px
			&.active
				background-position: -102px -45px
		.li-item3
			height: 57px
			background-image: url("../img/sidebar.png")
			background-position: 0 -105px
			&.active
				background-position: -102px -105px
		.li-item4
			height: 55px
			background-image: url("../img/sidebar.png")
			background-position: 0 -162px
			&.active
				background-position: -102px -162px
		.li-item5
			height: 58px
			background-image: url("../img/sidebar.png")
			background-position: 0 -217px
			&.active
				background-position: -102px -217px
		li
			&:hover
				a
					opacity: 1
			&.active
				.arrow3
					display: block

.arrow3
	position: absolute
	left: -90px
	top: 50%
	transform: translate(0, -50%) rotate(-90deg)
	width: 71px
	height: 94px
	background-image: url("../img/arrow.png")
	background-size: cover
	display: none
	animation: arrow3 1.2s ease-in-out infinite


@keyframes arrow3
	0%
	 left: -90px
	50%
	 left: -80px
	100%
	 left: -90px
// sidebar-menu END







	// section1
.section1
	position: relative
	height: auto
	width: 100%
	background-image: url("../img/bg1.jpg")
	background-repeat: no-repeat
	background-size: cover

.main-heading
	max-width: 779px
	margin: 0 auto
	padding-top: 100px
	padding-bottom: 420px
	animation-delay: 0.3s
	img
		width: 100%

.coctails-wrap
	position: absolute
	width: 100%
	bottom: 150px

.coctails
	float: left
	position: relative
	width: 568px
	height: 391px
	background-image: url("../img/coctail2.png")
	background-repeat: no-repeat
	background-size: cover
	transition: .3s
	animation-delay: 1s
	&:hover
		background-image: url("../img/coctail-hover2.png")

.offer
	position: absolute
	left: 53%
	top: 43%
	transform: translate(-50%, -50%)
	text-align: center
	span
		font-size: 57.35px
		line-height: 1em
		color: #f8f907
		font-family: "Firenight-Regular", sans-serif
		text-shadow: 4px 4px 4px rgba(0, 0, 0, .4)
		animation-delay: 1.7s

.tablets
	position: relative
	float: right
	width: 513px
	height: 457px
	background-image: url("../img/tabs.png")
	background-size: cover
	transition: .3s
	animation-delay: 1s
	&:hover
		background-image: url("../img/tabs-hover.png")

.arrow,
.arrow2
	position: absolute
	top: -80px
	left: 50%
	width: 71px
	height: 94px
	transform: translate(-50%, 0)
	background-image: url("../img/arrow.png")
	background-size: cover
.arrow
	animation: arrow 1.2s ease-in-out infinite
.arrow2
	animation: arrow2 1.5s ease-in-out infinite
	top: -60px

@keyframes arrow
	0%
	 top: -80px
	50%
	 top: -60px
	100%
	 top: -80px

@keyframes arrow2
	0%
	 top: -60px
	50%
	 top: -40px
	100%
	 top: -60px

.milk
	position: absolute
	bottom: -8px
	left: 0
	width: 100%
	z-index: 50
	img
		width: 100%
	.footnote
		position: absolute
		font-family: "Firenight-Regular", sans-serif
		font-size: 14px
		color: #007dcb
		text-transform: uppercase
		bottom: 20px
		left: 50%
		transform: translate(-50%, 0)
		
.tetrapak-logo
	position: absolute
	left: 50px
	bottom: 15px
	width: 91px
	height: 91px
	z-index: 10
	background-image: url("../img/tetrapak.png")
	background-size: cover
	img
		width: 100%

	// section1 END

@import "_media" // Всегда в конце
